{
    "presets": [
      ["@babel/env", {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }],
      "@babel/react",
      "@babel/typescript"
    ],
  "plugins": [
    "transform-regenerator",
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", { "useESModules": true }],
    "transform-class-properties",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}